<div class="fx-container">
  <div class="fx-card">
    <h2>Mini FX Converter</h2>

    <div class="form-row">
      <label>Base Currency:</label>
      <select [(ngModel)]="baseCurrency" (ngModelChange)="fetchData()">
        <option *ngFor="let c of currencies" [value]="c">{{ c }}</option>
      </select>
    </div>

    <div class="form-row">
      <label>Target Currency:</label>
      <select [(ngModel)]="targetCurrency" (ngModelChange)="fetchData()">
        <option *ngFor="let c of currencies" [value]="c">{{ c }}</option>
      </select>
    </div>

    <div class="form-row">
      <label>Amount:</label>
      <input type="number" [(ngModel)]="amount" >
    </div>

    <!-- <div class="fx-row" style="justify-content: flex-end;">
      <button class="fx-button" (click)="fetchData()">Refresh</button>
    </div> -->

    <div class="fx-result">
      <p>{{ amount }} {{ baseCurrency }} → {{ (rateValues[rateValues.length - 1] * amount) | number:'1.2-2' }} {{ targetCurrency }}</p>
      <p>{{ resultText }}</p>
    </div>

    <canvas id="rateChart" ></canvas>
  </div>
</div>
